language: ruby

cache:
  - bundler

rvm:
  - 2.2

deploy:
  provider: heroku
  api_key: $HEROKU_API_KEY

install:
  - gem install bundler --version '1.15.3'

script:
  - bundle exec script/test

dist: precise
