<% provide(:title, "Screens") %>

<div class="article">
<h1><%= yield(:title)%></h1>

<table>
  <tr>
    <th>Screen No.</th>
    <th>Capacity</th>
  </tr>

  <% @screens.each do |screen| %>
    <tr>
      <td><%= link_to screen.room_no, screen_path(screen) %></td>
      <td><%= screen.capacity %></td>
    </tr>
  <% end %>

</table>


</div>
