<% provide(:title, "Home") %>
<article class="article">
  <h1>La Jetée</h1>
  <p>A narrative told almost completely through photomontage. Taking place in a post-apocolyptic Paris, it's a story about time-travel, memories that persist and the inescapability of fate. If you have seen <i>12 Monkeys</i>, some of the concepts and the storyline were inspired by <i>La Jetée</i>.</p>
  <p><strong>11:15 am</strong></p>
</article>
