<nav class="nav">
  <h3>Movies playing</h3>
  <!-- FIXME link_to error missing required keys: [:screen_id] -->

  <ul>
    <% Movie.all.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ul>

  <h3>Screens</h3>

  <ul>
    <% Screen.all.each do |screen| %>
      <li><%= link_to "# #{screen.room_no}", screen_path(screen) %></li>
    <% end %>
  </ul>

</nav>
