<nav class="nav">
  <h3>Movies playing</h3>
  <!-- FIXME link_to error missing required keys: [:screen_id] -->

  <ul>
    <% Movie.all.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ul>

</nav>
